# Name: Match images

# Author: Ned Horning
# Version: 0.2
# Date: 2015/7/15
# Requires: ImageJ

Plugins>Photo Monitoring, "Create dual image list", List_Files
Plugins>Photo Monitoring, "Dual image index processing", Register_Images
Plugins>Photo Monitoring, "Single image index processing from directory", Create_NDVI_FromDir
Plugins>Photo Monitoring, "Single image index processing from displayed image", Create_NDVI_FromImage
Plugins>Photo Monitoring, "Calculate image calibration coefficients", CalculateCalibration
Plugins>Photo Monitoring, "Apply calibration coefficients to directory of images", ApplyCalibration